.events-table {
    text-align: center;
    padding-top: 1.6em;
}

#events {
    table-layout: fixed;
    margin: 0 auto; 
    border-collapse: collapse; 
    width: auto; 
    max-width: 800px; 
    min-width: 600px; 
}

.events-table table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    margin: 0;
    padding: 0.4em;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

td + td, th + th {
    padding-left: 2.8em;
    padding-bottom: 0.5em;
}

tbody tr:nth-child(2n) {
    background-color: var(--color-tr-even);
}

th .bell {
    color: #999;
}

tbody tr:nth-child(2n+1) {
    background-color: var(--color-tr-odd);
}

table tbody tr.heading {
    background-color: var(--color-tr-head);
}

tr.heading td {
    text-align: center;
    font-weight: bold;
}

.group-heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.group-heading-container .group-text {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.group-heading-container .arrow {
    position: absolute;
    right: 0;
    font-size: 1.2em;
    padding-left: 10px;
}