.events-table {
    text-align: center;
    padding-top: 1.6em
}

#events {
    margin: 0 auto;
}

.events-table table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    margin: 0;
    padding: 0.4em;

}

td + td, th + th {
    padding-left: 2.8em;
    padding-bottom: 0.5em;
}

th .bell {
    color: #999;
}

tbody tr:nth-child(2n+1) {
    background-color: #eafaff;
}

table tbody tr.heading{
    background-color: #efefef;
}

tr.heading td {
    text-align: center;
    font-weight: bold;
}
