td .bell {
  color: var(--color-bell);
  cursor: pointer;
}

td .bell[data-active="true"] {
  color: var(--color-bell-active);
}

@media only screen and (max-width:600px)  {
  td.notification:first-child {
    display: none;
  }
}
