th.notification, td.notification {
  width: 20px;
  text-align: center;
  font-weight: bold;
}

td .bell {
  color: var(--color-bell);
  cursor: pointer;
}

td .bell[data-active="true"] {
  color: var(--color-bell-active);
}