table tbody tr.shard-detail, table tbody tr.shard-status {
  background-color: var(--color-tr-head);
}

tr.shard-detail td:first-child {
  padding-left: .2em;
}

tr.shard-detail td:last-child {
  padding-left: 0;
}

tr.shard-status td {
  text-align: center;
  font-size: 1rem;
  padding: 0;
}
