h3 {
    line-height: 1em;
}

#contributors {
    text-align: center;
    width: 100%;
    margin-top: 1.2em;
    padding-top: .6em;
    padding-bottom: 1.2em;

    background-color: var(--color-footer-bg);
}

#contributors ul {
    display: inline;
    width: 40%;
    margin: 0 auto;
    padding-bottom: .9em;
    text-align: center;
}

#contributors ul li {
    list-style: none;
    margin-left: auto;
}

#contributors div {
    margin-top: 2.5em;
}
