.App-header {
    text-align: center;
    background-color: #87ceeb;
    font-size: 2.4em;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.8em;
}

.App-link {
    color: #61dafb;
}

.main {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.main main {
    text-align: left;
}

@media screen and (max-width: 600px) {
    .main {
        width: 100%;
    }
}
